{% extends 'base.html' %}
{% block page_title %}add contents objective{% endblock %}

{% block content %}
<div class="container">
    <div class="add_objective">
        <h1 class="title">add objective list</h1>
        <form action="{% url 'lists:save_objective_record' %}" method="POST">
            {% csrf_token %}
            <div class="form-group text_area">
                    <input type="text" class="form-control" style="margin-bottom: 10px;" name="content">          
                    <button type="submit" class="btn btn-secondary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}