a {
  text-decoration: none;
  color: #2b2b2b;
}
a:hover {
  transform: scale(1.2, 1.2);
  color: #808080;
}
.logo {
  margin: 20px;
}
.box {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: "Courgette", cursive;
  padding: 10px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}
.add_area {
  margin: 10px;
}
.daily {
  margin-bottom: 20px;
  background-color: #fceef2;
}
.done_border_area {
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
}
#done-content {
  list-style: none;
  padding-left: 15px;

  border: 1px solid #ffe6d1;
  background-color: #fffaf7;
  background-image: radial-gradient(#fff4ea 35%, transparent 0),
    radial-gradient(#fff4ea 35%, transparent 0);
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
  padding: 1.5em 1em;
}
.daily_border_area {
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
}
#daily-content {
  list-style: none;
  padding-left: 15px;

  border: 1px solid #f9d4df;
  background-color: #fcfbfb;
  background-image: radial-gradient(#fceef2 35%, transparent 0),
    radial-gradient(#fceef2 35%, transparent 0);
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
  padding: 1.5em 1em;
}
.reminder_border_area {
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
}
#reminder-content {
  list-style: none;
  padding-left: 15px;

  border: 1px solid #cef9bb;
  background-color: #fcfbfb;
  background-image: radial-gradient(#f2fcee 35%, transparent 0),
    radial-gradient(#f2fcee 35%, transparent 0);
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
  padding: 1.5em 1em;
}
.objective_border_area {
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
}
#objective-content {
  list-style: none;
  padding-left: 15px;

  border: 1px solid #dfc4ff;
  background-color: #faf7ff;
  background-image: radial-gradient(#f4eaff 35%, transparent 0),
    radial-gradient(#f4eaff 35%, transparent 0);
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
  padding: 1.5em 1em;
}

.list_contents {
  padding-bottom: 10px;
}
.done {
  margin-bottom: 20px;
  background-color: #fff4ea;
}
.reminder {
  margin-bottom: 20px;
  background-color: #f2fcee;
}
.objective {
  margin-bottom: 20px;
  background-color: #f4eaff;
}
.button_area1 {
  margin: 5px;
  margin-left: 50px;
  padding: 2px 4px;
  background-color: #2b2b2b;
  color: #fff;
  border: none;
}
.button_area2 {
  margin: 5px;
  padding: 2px 4px;
  background-color: #2b2b2b;
  color: #fff;
  border: none;
}
.add_daily {
  height: 200px;
  background-color: #fceef2;
}
.add_reminder {
  height: 200px;
  background-color: #f2fcee;
}
.add_objective {
  height: 200px;
  background-color: #f4eaff;
}
.text_area {
  margin-left: 10px;
  max-width: 90%;
}
#is_achived {
  display: none;
}
@media screen and (max-width: 480px) {
  /*　画面サイズが480px以下の場合ここの記述が適用される　*/
}
